/* remove all default margin and padding for every object on the page */
/* * { */
/* margin: 0; */
/* padding: 0; */
  /* } */


/* General styles */
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  }

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 70px;
}



/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 2;
}

#logo {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
}

a {
  color: seashell;
  padding: 15px;
  }

/* Mutual Section Styles */

.content {
  background-color: black;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

  /* Section 1. Our Mission */
  #our-mission {

  }

  #img-mission {
    background-image: url(./../images/img-mission-background.jpg);
    /* background-size: 1200px 700px; */
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* Section 2. Tea */
    #tea {
      width: 1000px;
      display: flex;
      flex-flow: column;
      margin-top: 70px;

    }

    .tea-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;


    }

    .tea-item {
      display: flex;
      flex-direction: column;

    }

    .tea-img {
      height: 200px;
      width: 300px;
      margin: 10px 15px;
    }

    .description {
      text-align: center;
    }

    /* Section 3. Locations */
    #locations {
      height: 500px;
      width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(./../images/img-locations-background.jpg);
      background-position: 0 8%;
      margin-top: 30px;
    }

    #loc-heading {
      position: relative;
      top: 130px;
      z-index: 1;
      text-align: center;
    }

    .place {
      background-color: black;
      width: 300px;
      margin: 5px 20px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
    }

    /* Footer Secton */
    footer {
      height: 200px;
      display: flex;
      flex-direction: column;
    }

    .contacts {
      align-self: center;
      text-align: center;
    }

    .copyright {
      align-self: flex-start;
      padding-left: 20px;
    }
